<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent Our Stuff </title>
</head>
<body>
    {{{body}}}
</body>
</html>
=======
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Rent Stuff</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
>>>>>>> 33909517983238e11ae7605799fb24a5f94052b2
