
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{!--
            <h3>About the team</h3> --}}
        </div>
        <div class="panel-body">
                <div class="row text-center">
                    <img src="http://eequalso2.com/wp-content/uploads/2017/11/meet_the_team_header.jpg">
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-4 center">
                        <div class="caption">
                            <img class="mix-auto rounded-circle" src="../assets/images/alex.png" alt="...">

                            <h3 class="team">Alex Baranov</h3>
                            <p>Full Stack Web Developer</p>
                            <p>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-stack-overflow"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 center">
                        <div class="caption">
                            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/inom.png"
                                alt="...">

                            <h3 class="team">Inom Ibragimov</h3>
                            <p>Full Stack Web Developer</p>
                            <p>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-stack-overflow"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 center">
                        <div class="caption">
                            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/eitan.png"
                                alt="...">

                            <h3 class="team">Eitan Fine</h3>
                            <p>Full Stack Web Developer</p>
                            <p>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-stack-overflow"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2 "></div>
                    <div class="col-md-4 col-xs-4 center">
                        <div class="caption">
                            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/john.png"
                                alt="...">

                            <h3 class="team">John Palumbo</h3>
                            <p>Full Stack Web Developer</p>
                            <p>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-stack-overflow"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 center">
                        <div class="caption">
                            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/lan.png"
                                alt="...">

                            <h3 class="team">Lan Ejiri</h3>
                            <p>Full Stack Web Developer</p>
                            <p>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-stack-overflow"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>