<div id="services" class="container text-center">
    <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
           <div class="row">
               <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 style="color: #F19F4D;">MEET THE TEAM</h1>
            {{!-- <img  src="../../meet_the_team.jpg" alt="MEET THE TEAM"> --}}
        </div>
         <div class="col-sm-3"></div>
    </div>
    <br>
        <br>
    <div class="row">
        <div class="col-sm-4">
            <img class="mix-auto rounded-circle" src="../assets/images/alex.png" alt="...">
            <h4>Alex Baranov</h4>
            <p>Full Stack Web Developer</p>
            <p>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/inom.png">
            <h4>Inom Ibragimov</h4>
            <p>Full Stack Web Developer</p>
            <p>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/eitan.png">
            <h4>Eitan Fine</h4>
            <p>Full Stack Web Developer</p>
            <p>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/john.png" alt="...">
            <h4>John Palumbo</h4>
            <p>Full Stack Web Developer</p>
            <p>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <img style="width: 250px; height: 250px" class="mix-auto rounded-circle" src="../assets/images/lan.png" alt="...">
            <h4>Lan Ejiri</h4>
            <p>Full Stack Web Developer</p>
            <p>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
        </div>
    </div>
</div>
