
<div class="container">
    <div class="panel">
        <div class="panel-heading text-center">
        </div>
        <div class="container">
            <div class="panel-body">
                <div class="text-center">
                    <img src="http://crowdron.com/layout/frontend/assets/images/how-it-works.png" style="margin = auto">
                </div>

                <div class="row">
                    <hr>
                    <div class="howitworksdescription text-center">
                        Rent Our Stuff is a premier stuff rental and sharing service that provides a platform to connect stuff owners with people
                        looking to rent or borrow around the world. Through our service, owners list their stuff, renters
                        search for stuff in whatever area they want, and complete the rental process easily through our website.
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 asd">
                        <span class="glyphicon glyphicon-search"></span>
                        <h4> Find the Perfect Stuff</h4>
                        <p>Search through thousands of stuff all over the world for one near you.</p>
                    </div>
                    <div class="col-xs-4 asd">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <h4>
                            Book a Stuff and Pay</h4>
                        <p>Check the available dates and put in a request or two and message the owner. Then book pay through
                            Rent Our Stuff. It’s cashless and convenient and definitely not a scam.</p>

                    </div>
                    <div class="col-xs-4 asd">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <h4> Post your stuff and have fun
                        </h4>
                        <p>Make money by renting out stuff you dont even use anyway</p>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                <div class="row">
                    <h3 class="text-center">Step by step instructions on how to use this site
                    </h3>
                    <ul>
                        <li >
                            Users who are not signed in can view and browse items

                        </li>
                        <li>
                            The home page shows all items in our database. Have fun browsing through all of the various stuff that are available to rent!
                        </li>
                        <li>
                            Use the category drop down in the navigation bar to view items for rent by category
                        </li>
                        <li> Once you see an item you like, you can click on "view item" to see more details about the stuff,
                            including the dates it is available, a large image of the item, and an interactive map of where
                            the item is located</li>
                        <li >Users who are signed in are able to post an item</li>
                        <li> Just click the post item button and fill in the appropriate fields and you're good to go</li>
                        <li> Happy stuff hunting!</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center" >What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>