<style>
    .glyphicon {
        font-size: 75px;
    }

    .asd {
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            {{!--
            <h3 class="text-center">How it Works</h3> --}}
        </div>
        <div class="container">
            <div class="panel-body">
                <div class="text-center">
                    <img src="http://crowdron.com/layout/frontend/assets/images/how-it-works.png" style="margin = auto">
                </div>

                <div class="row">
                    <hr>
                    <div class="howitworksdescription text-center">
                        Rent Our Stuff is a premier stuff rental and sharing service that provides a platform to connect stuff owners with people
                        looking to rent or borrow around the world. Through our service, owners list their stuff, renters
                        search for stuff in whatever area they want, and complete the rental process easily through our website.
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 asd">
                        <span class="glyphicon glyphicon-search"></span>
                        <h4> Find the Perfect Stuff</h4>
                        <p>Search through thousands of stuff all over the world for one near you.</p>
                    </div>
                    <div class="col-xs-4 asd">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <h4>
                            Book a Stuff and Pay</h4>
                        <p>Check the available dates and put in a request or two and message the owner. Then book pay through
                            Rent Our Stuff. It’s cashless and convenient and definitely not a scam.</p>

                    </div>
                    <div class="col-xs-4 asd">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <h4> Post your stuff and have fun
                        </h4>
                        <p>Make money by renting out stuff you dont even use anyway</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>