
<div class="container">
    <div class="row"></div>
    <hr>
    <div class="panel panel-primary">
        <div class="panel-heading">
  <section class="container">
    <section class="login-form">
      <div class="panel panel-default">
        <div class="panel-heading">CREATE NEW LISTING</div>
        <div class="panel-body">
          <form method="post" action="" class="create-update-form " role="login">

            {{!-- this whole block is for the drop down for categories and it saves the category ID for the new item --}}
            <div class="form-group">
              <label for="auth">Category: </label>
              <div class="input-group mb-3">
                <select class="custom-select" name="itemCatId">
                  {{#each categories}}
                  <option value="{{this.id}}">{{this.categoryName}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            {{!-- ---------------------------------------------- --}} {{!-- this whole block is for the drop down for users and it saves
            the user ID for the new item--}}
            <div class="form-group">
              <label for="auth">User: </label>
              <div class="input-group mb-3">
                <select class="custom-select" name="itemUserId">
                  {{#each users}}
                  <option value="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="pull-right">
                <a href="#">Sign up now</a>
              </div>
              <label for="itemName">Item Name</label>
              <input type="textarea" name="itemName" id="name" placeholder="List item to rent" required class="form-control input-lg" />
            </div>

            <div class="form-group">
              <div class="pull-right">
              </div>
              <label for="itemDescription">Description</label>
              <input type="textarea" name="itemDescription" id="description" placeholder="Add a brief description about your item"  required class="form-control input-lg" />
            </div>
            <div class="form-group">
              <div class="pull-right">
              </div>
              <label for="itemPrice">Price</label>
              <input type="textarea" name="itemPrice" id="price" required class="form-control input-lg" />
            </div>
            <div class="form-group">
              <button style="background: #4484ce;" type="submit" name="go" class="btn btn-lg btn-info btn-block">Post Item</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
