#map{
    /* height: 350px; */
    width: 100%;
    
}

.navbar-brand{
    font-family: 'Titan One', cursive;

}
#itemInfoImg{
    height: 450px;
    width: 100%;
}


.floatleft{
   border: 2px salmon solid; 
   /* display: flex; */
   /* flex-wrap: wrap;  */
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
  }

